bottle==0.12.25
certifi==2024.7.4
charset-normalizer==3.3.2
colorama==0.4.6
conan==1.64.1
cv==1.0.0
fasteners==0.19
greenlet==3.2.3
idna==3.7
Jinja2==3.1.4
MarkupSafe==2.1.5
node-semver==0.6.1
numpy==2.3.1
opencv-python==4.11.0.86
packaging==25.0
patch-ng==1.17.4
pillow==11.2.1
playwright==1.53.0
pluginbase==1.0.1
pyee==13.0.0
Pygments==2.18.0
PyJWT==2.8.0
pytesseract==0.3.13
python-dateutil==2.9.0.post0
PyYAML==6.0.1
requests==2.32.3
six==1.16.0
tqdm==4.66.4
typing_extensions==4.14.0
urllib3==1.26.19
